:root {
    --blue: #84bfc3;
    --beige: #faf6e1;
    --mostard: #ffb870;
    --coral: #d96153;
    --coral-intense: #bd4f43;
    --noir: #000511;
    --noir-shadow: rgba(0, 0, 0, 0.1);
    --white: #ffffff;
    --grey: #f5f6fa;
    --medium-grey: #666;
    --light-grey: #D3D3D3;
}